@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url(https://i.pinimg.com/originals/43/f0/88/43f08805db943b3147e9589c26d29ea5.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.nav-container {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials img {
    width: 35px;
    height: 35px;
    margin-left: 20px;
}

.dropdown {
    cursor: pointer;
    margin-right: 20px;
}

.dropdown:hover {
    color: rgb(161, 16, 65);
}

.dropdown-title {
    font-family: 'Playfair Display SC', serif;
}

.dropdown-content {
    margin-right: 8px;
    color: black;
    background-color: white;
    display: none;
    position: absolute;
    right: 0;
    width: 90px;
    z-index: 1;
    font-size: 12px;
    font-family: 'Playfair Display SC', serif;
    align-items: center;
}
.dropdown:hover .dropdown-content {
    display: inline-block;
    text-decoration: none;
}

.dropdown-content h2 {
    width: auto;
    text-align: center;
    /* padding: 9px; */
    color: black;
    text-decoration: none;
}

.dropdown-content h2:hover {
    color: rgb(161, 16, 65);
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
}

.nav-right Link {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

.nav-logo h1 {
    font-family: 'Playfair Display SC', serif;
    color: black;
    font-size: 64px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.404);
}

.nav-logo img {
    width: 45px;
    height: 45px;
}

.home {
    margin-top: 70px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(5, 200px);
    grid-gap: 10px
}

.home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.404);
}

.home h1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    color: white;
    /* background-color: rgba(255, 255, 255, 0.568); */
    font-size: 23px;
    font-family: 'Playfair Display SC', serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.404); */
}

.triptych-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.triptych-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.triptych-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.piece-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.piece-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.piece-3 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.product-gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px
}

.product-gallery img {
    height: 100%;
    width: 100%;
}